

body, html {
  margin: 0;
  padding: 0;
}


#chart-container {
  margin: 20px auto; 
}


svg {
  display: block;
  background-color: #f5f5f5; 
}


.axis .tick text {
  font-size: 14px; 
  font-weight: bold; 
  fill: #0a7536; 
}


.main-title {
  font-size: 18px; 
  font-weight: bold; 
  fill: #1d8a38; 
}
