
    table {
      font-family: 'Consolas';
    
      width: 100%;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #fda7a7;
    }
    .rank {
      font-variant: small-caps slashed-zero;
      color: brown; 
    }
    
    rect {
      fill: lightseagreen;
    }
  